<div style="text-align: center; min-height: 641px; vertical-align: top;">

<div id="goodAnswers" class="rule text-xl text-green-700 p-2 pl-6">Correct answers so far: <span class="font-bold text-3xl">0</span>/{{index $.Page.Params.nrOfQurestions}}</div><br>
    <p class="text-sm italic" style="margin-bottom: 0px;">Black to play</p>
	<div class="tsumego" id="tsumego_wrapper" style="text-align: left;">
    Your browser sucks. Download something up to date.
    </div>
    
    <script>
	var tsumego = new WGo.Tsumego(document.getElementById("tsumego_wrapper"), {
        sgfFile: "/puzzleSGFs/{{index $.Page.Params.batch}}/0.sgf",
        
			{{with .Get "illegal"}}
		allowIllegalMoves: true, 
			{{ end }}
		
		
    });
    tsumego.setCoordinates(true);
	</script>
</div><br>

<script>
	var	nmbrQuestions = 0;
	var batch = 0;

function setupQuizzes(howMuch, quiznmbr) {
	nmbrQuestions = howMuch;
	batch = quiznmbr;
}
	setupQuizzes({{index $.Page.Params.nrOfQurestions}}, {{index $.Page.Params.batch}});
</script>
