<!DOCTYPE html>
<html>
    <head>
        {{- partial "head.html" . -}}
        <title>{{ .Params.title }} | Learn to Play Go</title>
        {{ block "extraInlineCSS" . }}
        {{ end}}
        {{ block "extraJS" . }}
        {{ end }}
    </head>
    <body class="text-lg p-4" {{block "onLoad" . }} {{ end }} style="">
        <div id="" class="">

        {{- block "body" . }}
            {{- partial "header.html" . -}}
            <div id="content">
            {{- block "main" . }}{{- end }}
            </div>
            {{- partial "footer.html" . -}}
        {{- end }}
        </div>
		<div id="preload-01"></div>
		<div id="preload-02"></div>
		<div id="preload-03"></div>
		<div id="preload-04"></div>
		<div id="preload-05"></div>
		<div id="preload-06"></div>
    </body>
</html>
