{{ define "extraJS" }}
	<script type="text/javascript" src="/wgo/wgo.js"></script>
	<script type="text/javascript" src="/wgo/kifu.js"></script>
	<script type="text/javascript" src="/wgo/sgfparser.js"></script>
	<script type="text/javascript" src="/wgo/player.js"></script>
	<script type="text/javascript" src="/wgo/basicplayer.js"></script>
	<script type="text/javascript" src="/wgo/basicplayer.component.js"></script>
	<script type="text/javascript" src="/wgo/basicplayer.infobox.js"></script>
	<script type="text/javascript" src="/wgo/basicplayer.commentbox.js"></script>
	<script type="text/javascript" src="/wgo/basicplayer.control.js"></script>
	<script type="text/javascript" src="/wgo/player.editable.js"></script>
	<script type="text/javascript" src="/wgo/scoremode.js"></script>
	<script type="text/javascript" src="/wgo/player.permalink.js"></script>
	
	
	<link rel="stylesheet" type="text/css" href="/css/wgo.player.css" />
  <script type="text/javascript" src="/js/tsumegokids.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/tsumegokids.css">
{{ end }}
    
{{ define "body" }}
{{ .Content }}
{{ end }}



